{% extends "portfolio/base.html" %}
{% load static %}


{% block h1 %}Portfolio{% endblock h1 %}

{% block portfolio_content %}
    <div class='container'>
        <div class='row info-block'>
            {% for project in projects %}
                <div class='col-xl-4'>
                    <div class="card">
                        {% if project.logo %}
                            <img class="card-img-top" src="{{ project.logo.url }}">
                        {% endif %}
                        <div class="card-body">
                            <h3 class='card-title'><strong>{{ project.name }}</strong></h3>
                            <div class='card-text'>
                                {{ project.summary | safe}}
                            </div> 
                            <div class='text-right'>
                                <a href='{% url "portfolio:project" project.id project.url_name %}' class="btn btn-url">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}            
        </div>
    </div>
{% endblock portfolio_content %}