{% extends "portfolio/base.html" %}
{% load static %}

{% block title %} {{ project.name }} {% endblock title %}

{% block h1 %}{{ project.name }}{% endblock h1 %}

{% block portfolio_content %}
    <div class='container'>
        <div class='row info-block'>
            <div class='col-xl-12'>
                <div class="card">
		    {% if project.logo %}
                    <img class="responsive" src="{{ project.logo.url }}" alt="project.name" width=100>
		    {% endif %}
                    <div class="card-body">
                        <div class='card-text'>
                            {{ project.content | safe}}
                        </div> 
                    </div>
                    <div class='card-footer'>
                        {% for tag in project.tags.all %}
                            <span class="badge badge-pill badge-info">{{tag}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock portfolio_content %}
