body{
    background-color: #F5F5F5;
}
#nav{
    position: fixed;
    top: 50%;
    width: 50px;
    z-index: 999;
    border-radius: 100px;
    
}

#nav .nav-item{
    width:49px;
}

#nav .nav-item .nav-link{
    padding-left:5px;
    padding-right:0;
}

#myPhoto{
    border-radius:100%;
    width:13em;
    margin-top:-150px
}

#top-bar{
    height:150px;
    background-color:#6f3eca;
}

#general-info-bar{
    background-color:#5c34a4;
}

#menu-bar{
    background-color:#512e90;
    margin-top:0;
    z-index: 998;
}

.info-block > div{
    padding-top:20px;
    padding-bottom:20px;
}

.btn-url{
    background-color:#9068be; 
    color:white; 
    margin-bottom:1rem; 
    margin-top:3px;
}

.btn-url:hover{
    background-color:#5c34a4; 
    color:white;
}

.list-header{
    background-color:#5c34a4;
    color:white; 
    font-weight: bold;
}

.card{
    margin-top:1rem;
}

.menu-item{
    color:#9068be;
}

.menu-item:hover{
    color:#5c34a4;
}

a{
    color:#9068be;
}

a:hover{
    color:#5c34a4;
}

.scroll-item{
    color: white;
}

.scroll-item:hover{
    color: antiquewhite;
}

.info-block{
    background-color: white;
    margin-top:2rem;
    box-shadow: 10px 10px #E5E5E5
}