{% extends "base.html" %}
{% load static %}

{% block title %}IvanMorett.com - Welcome!{% endblock title%}

{% block meta_description %}Hey everyone, this is my personal web page, this mainpage contains my resume.{% endblock meta_description %}
{% block meta_keywords %}ivanmorett, resume, mainpage, programmer{% endblock meta_keywords %}

{% block content %}
    <div class="text-center">
        <div id='top-bar'></div>
        <div id='general-info-bar' class="p-3 text-white">
            <img id="myPhoto" src='{% static "resume/img/profileImg.jpg" %}' class="img-fluid img-thumbnail card-img-top" alt="This is me ;)">
            <h1><strong>{{ data.personal_data.name }} {{ data.personal_data.lastName }}</strong></h1>
            <h3>{{ data.personal_data.title }}</h3>
            <p>{{ data.aboutMe | safe }}</p>
        </div>
    </div>

    <!-- This navabar would stick with the scroll of the page -->
    <nav id='menu-bar' class="navbar sticky-top navbar-dark">
        <ul class="nav nav-pills mx-auto">
            <li class="nav-item">
                <a class="nav-link scroll-item" href="#contact-info">My Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll-item" href="#education-info">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll-item" href='#known-info'>What I know?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll-item" href='#awards-info'>Awards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll-item" href='#certifications-info'>Certifications and courses</a>
            </li>
        </ul>
    </nav>

    <!-- General personal information -->
    <div id='contact-info' class='container info-block'>
        <div class='row'>
            <div class="col-sm-12 section-title">
                <h2><i class="far fa-address-card fa-lg" style='color:#5c34a4'></i> My Information</h2>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Personal Information</h4>
                        <p class="card-text"><strong>I live at: </strong>{{ data.personal_data.contact.street }} #{{ data.personal_data.contact.number }}, 
                            {{ data.personal_data.contact.city }}, {{ data.personal_data.contact.state }}, {{ data.personal_data.contact.country }}</p>
                        <p class="card-text"><strong>My cellphone is: </strong>{{ data.personal_data.contact.cellphone }}</p>
                        <p class="card-text"><strong>My emails are:</strong>
                            <ul>
                                {% for email in data.personal_data.contact.email %}
                                    <li><i class="fab fa-{{ email.ico }} fa-lg" style='color:#5c34a4'></i> {{ email.username }}@{{ email.domain }}</li>
                                {% endfor %}
                            </ul> 
                        </p>
                        <p class='card-text'>
                            <strong>Hobbies: </strong> {{data.personal_data.hobbies}}
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Known languages</h4>
                        <p class="card-text">
                            <ul>
                                {% for lang in data.languages %}
                                <li><strong>{{ lang.language }}</strong>: {{lang.level}}</li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                    <h3 class="card-title">Check more about me:</h3>
                    {% for url in data.urls %}
                        <p class="card-text" style='margin-bottom:0'>
                            {% if url.ico %}<i class="{{ url.ico }}" style='color:#5c34a4'></i>{% endif %} <strong>{{ url.name }}</strong>:{{ url.description }}
                        </p>
                        <a href="{{url.url}}" class="btn btn-url">Check it out!</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
            
        </div> 
    </div>

    <!-- Education information -->
    <div id='education-info' class='container info-block'>
        <div class='row info-block'>
            <div class="col-sm-12 section-title">
                <h2><i class="fas fa-graduation-cap fa-lg" style='color:#5c34a4'></i> Education</h2>
            </div>
            {% for edu in data.education reversed%}
                <div class='col-sm-4'>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><strong>{{ edu.school }}</strong>, {{edu.city}}</h4>
                            <h5 class="card-text">{{ edu.degree }} in {{ edu.discipline }}</h5>
                            <h6 class="card-text">{{ edu.start }} - {{ edu.end }}</h6>
                            <h6 class="card-text">GPA - {{ edu.gpa }}/100</h6>
                        </div>
                        {% if edu.extracurricular %}
                            <a class="btn btn-url" data-toggle="collapse" href="#extracurricular{{ forloop.counter }}" aria-expanded="false" aria-controls="extracurricular{{ forloop.counter }}" style='margin-bottom:0'>
                                Extracurricular activities
                            </a>
                            <div class="collapse card-footer" id="extracurricular{{ forloop.counter }}">
                                <ul class="list-group list-group-flush">
                                    {% for class in edu.extracurricular %}
                                        <li class="list-group-item">{{class.name}} {% if class.level %} {{class.level}} {% endif %}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <h3>Please add education information to the data</h3>
            {% endfor %}
        </div>
    </div>

    <!-- What I know? information -->
    <div id='known-info'  class='container info-block'>
        {% if data.aptitudes %}
            <div class='row info-block'>
                <div class="col-sm-12 section-title">
                    <h2><i class="fas fa-bookmark fa-lg" style='color:#5c34a4'></i> What I know?</h2>
                </div>
                {% for category in aptitudes_categories %}
                    <div class="col-sm-{{aptitudes_categories_grid}}">
                            <ul class="list-group">
                                <li class="list-group-item list-header">{{ category }}</li>
                                {% for apt in data.aptitudes %} 
                                    {% if apt.type == category %}   
                                        <li class="list-group-item">{{ apt.aptitude }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Awards information -->
    <div id='awards-info' class='container info-block'>
        <div class='row info-block'>
            <div class="col-sm-12 section-title">
                <h2><i class="far fa-star fa-lg" style='color:#5c34a4'></i> Awards</h2>
            </div>
            {% for award in data.awards reversed %}
                <div class='col-sm-{{awards_grid}} d-flex align-items-stretch'>
                    <div class="card align-items-stretch">
                        <div class="card-body">
                            <h4 class="card-title"><strong>{{ award.name }}</strong></h4>
                            <p class="card-text"> Issued by:  {{ award.issuedBy }}</p>
                            <p class='card-text'>{% if award.month %} {{ award.month }} {% endif %} {% if award.year %} {{ award.year }} {% endif %}</p>
                            {% if award.description %}
                                <p class='card-text'> <strong>Extra information:</strong> {{ award.description }} </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Courses and certifications info -->
    <div class='container info-block'>
        <div id='certifications-info' class='row info-block'>
            <div class="col-sm-12 section-title">
                <h2><i class="fas fa-thumbtack fa-lg" style='color:#5c34a4'></i> Certifications and Courses</h2>
            </div>
            {% for certification in data.certifications reversed %}
                <div class='col-sm-4 d-flex align-items-stretch'>
                    <div class="card align-items-stretch">
                        <div class="card-body">
                            <h4 class="card-title"><strong>{{ certification.name }}</strong></h4>
                            <p class="card-text"> <strong>Issued by</strong>:  {{ certification.issuedBy }}</p>
                            <p class='card-text'> <strong>Issued on</strong>: {{ certification.monthStart }} {{ certification.yearStart }}</p>
                            <p class="card-text"> <strong>License</strong>:  {{ certification.license }}</p>
                            <p class="card-text"> 
                                <strong>Expiration</strong>: {% if certification.monthEnd and certification.yearEnd %} 
                                                                {{ certification.monthEnd }} {{ certification.yearEnd }} 
                                                            {% else %} {{ certification.yearEnd }} {% endif %}
                            </p>
                            {% if certification.url %}<a href="{{certification.url}}" class="btn btn-url">See certification</a>  {% endif%}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}     
            
        
        
   
