{% extends "blog/base.html" %}
{% load static %}


{% block h1 %}{{ post.title }}{% endblock h1 %}

{% block blog_content %}
    <div class='container'>
        <div class='row info-block'>
            <div class='col-xl-12'>
                <div class="card">
                    <div class='card-header'>
                            <small>{{ post.date_published }}</small>
                    </div>
                    <div class="card-body">
                        <div class='card-text'>
                            {{ post.content | safe}}
                        </div> 
                        <!--   Future implementation                     
                            <div class='text-right'>
                                <a href='#' id='claps'>
                                    <div class="fa-4x">
                                        <span class="fa-layers fa-fw">
                                            <i class="fas fa-hand-paper claps" data-fa-transform="rotate-15" style='color:#9068be' ></i>
                                            <i class="fas fa-arrow-up claps" data-fa-transform="shrink-10 down-4" data-toggle="tooltip" data-placement="top" title="Claps"></i>
                                            <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-12 down-10" style="font-weight:900; color:black" id='total_claps'>{{post.claps}}</span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        -->
                    </div>
                    <div class='card-footer'>
                        {% for tag in post.tags.all %}
                            <span class="badge badge-pill badge-info">{{tag}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock blog_content %}

{% block foot_declarations %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $("#claps").on('click', function(){
        $.ajax({
            url: '{% url "blog:claps" post.id %}',
            type : "POST", 
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            dataType: 'json',
            success: function (data) {
                $("#total_claps").html(data.claps);
            }
        });
    });
</script>
{% endblock foot_declarations %}