{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
        <link rel="stylesheet" href='{% static "css/style.css" %}'>
        <script defer src='{% static "fontsawesome/js/fontawesome-all.js" %}'></script>
        <meta name='Author' content='Ivan Morett'/>
        <meta name='Description' content='{% block meta_description %}{% endblock meta_description %}'/>
        <meta name='keywords' content='{% block meta_keywords %}{% endblock meta_keywords %}'/>
        {% block head_declarations %}{% endblock head_declarations %}
    </head>
    <body data-spy="scroll" data-target="#menu-bar">

        <!-- This is my all powerfull menu, it will stay fixed to the side of the page -->
        <ul id='nav' class="nav flex-column">
            <li class="nav-item" data-container="body" data-toggle="popover" data-placement="right" data-content="Home">
                <a class="nav-link active menu-item" href='{% url "resume:index" %}'>
                    <i class='fas fa-home fa-3x' data-fa-transform="shrink-3.5 down-1.6 right-1.25"  data-fa-mask="fas fa-circle" ></i>
                </a>
            </li>
            <li class="nav-item" data-container="body" data-toggle="popover" data-placement="right" data-content="Blog">
                <a class="nav-link menu-item" href='{% url "blog:index" %}'>
                    <i class='fas fa-newspaper fa-3x' data-fa-transform="shrink-3.5 down-1.6 right-1.25"  data-fa-mask="fas fa-circle" ></i>
                </a>
            </li>
            <li class="nav-item" data-container="body" data-toggle="popover" data-placement="right" data-content="Portfolio">
                <a class="nav-link menu-item" href='{% url "portfolio:index" %}'>
                    <i class='fas fa-desktop fa-3x' data-fa-transform="shrink-3.5 down-1.6 right-1.25"  data-fa-mask="fas fa-circle" ></i>
                </a>
            </li>
            <li class="nav-item" data-container="body" data-toggle="popover" data-placement="right" data-content="Contact">
                <a class="nav-link menu-item" href='{% url "contact:index" %}'>
                    <i class='fas fa-envelope fa-3x' data-fa-transform="shrink-3.5 down-1.6 right-1.25"  data-fa-mask="fas fa-circle" ></i>
                </a>
            </li>
        </ul>

        {% block content %} {% endblock content %}
        <div class="content-wrapper" style='padding-top:3em'>
            <footer class="sticky-footer">
                <div class="container alert-darkr">
                    <div class="text-center">
                        <strong>Copyright © Ivan Morett - {% now "Y" %}</strong>
                    </div>
                </div>
            </footer>
        </div>
        
        
        
            
        
        
        
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src='{% static "js/bootstrap.min.js" %}'></script>
        <script src='{% static "js/script.js" %}'></script>
        {% block foot_declarations %}{% endblock foot_declarations %}
    </body>
</html>
