{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Inicio - Ardillas Salvajes</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "ardillas_salvajes/vendor/bootstrap/css/bootstrap.css" %}' rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href='{% static "ardillas_salvajes/vendor/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href='{% static "ardillas_salvajes/vendor/magnific-popup/magnific-popup.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "ardillas_salvajes/css/creative.min.css" %}' rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">FUNDAMENTOS DISEÑO INTERACTIVO</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Su esplendor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Conoce Mas </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#comments">Comentarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>ARDILLAS SALVAJES POR LA CONQUISTA MUNDIAL</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Encuentre aqui contenido, imagenes y datos curiosos sobre los animales más asombrosos del planeta.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Descubre más</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">¡Los mejores animales del planeta son las ardillas!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Nuestro equipo es fan de estos pequeños, tiernos y salvajes roedores, por lo cual decidimos hacer un homenaje a esta fabulosa especie!</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Se Ardilla Fan!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Características</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-apple fa-5x fa-flip-horizontal" aria-hidden="true" style='color:#f05f40'></i>
              <h3 class="mb-3">Alimentación</h3>
              <p class="text-muted mb-0">Las ardillas no solo se alimentan de nueces, también comen hojas, raíces, corteza de los árboles, frutos y hasta algunos insectos pequeños.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-envira fa-5x fa-flip-horizontal" aria-hidden="true" style='color:#f05f40'></i>
              <h3 class="mb-3">Hábitat</h3>
              <p class="text-muted mb-0">Las Ardillas suelen vivir en ecosistemas boscosos, donde pueden encontrar alimento y hogar. Entre los árboles pueden trepar y esconderse de sus depredadores.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Datos Curiosos</h3>
              <p class="text-muted mb-0">Las ardillas tienen una perfecta vista cuando son adultas.
              Sin embargo, nacen ciegas, por ello sus madres protegen las crías durante dos meses, tiempo en que les traen alimentos y les dan de mamar.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Ámalas</h3>
              <p class="text-muted mb-0">Estos pequeños roedores son bastante esponjosos. ¿A poco no son tiernos? </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0 bg-dark" id="portfolio">
      <div class="container-fluid p-0">
        <div class=row>
            <div class="col-lg-12 mx-auto text-center">
                <hr class="light my-4">
              <h2 class="section-heading text-white">About Us</h2>
              <hr class="light my-4">
            </div>
        </div>

        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6 mx-auto text-center">
            <a class="portfolio-box" href='{% static "ardillas_salvajes/img/portfolio/fullsize/1.jpg" %}'>
              <img class="img-fluid" src='{% static "ardillas_salvajes/img/portfolio/thumbnails/1.jpg" %}' alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Alex González S
                  </div>
                  <div class="project-name">
                    Frontend
                  </div>
                </div>
              </div>
            </a>
          </div>

            <div class="col-lg-4 col-sm-6 mx-auto text-center">
              <a class="portfolio-box" href='{% static "ardillas_salvajes/img/portfolio/fullsize/2.jpg" %}'>
                <img class="img-fluid" src='{% static "ardillas_salvajes/img/portfolio/thumbnails/2.png" %}' alt="" style="width:613px;  " >
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                      Iván Moret A
                    </div>
                    <div class="project-name">
                      Backend
                    </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
      </div>
    </section>
    
    <section class="bg-light" id='comments'>
      <div class="container text-center">
          <div class=row>
              <div class="col-lg-12 mx-auto text-center">
                  <hr class="dark my-4">
                <h2 class="section-heading">Comentarios</h2>
                <hr class="dark my-4">
              </div>
          </div>
          <div class="row">
              {% for comment in comments %}
                <div class='col-lg-4'>
                    <div class="card border-warning mb-3" style="max-width: 18rem;">
                      <div class="card-body text-warning">
                        <h5 class="card-title">{{ comment.name }}</h5>
                        <p class="card-text">{{ comment.comment }}</p>
                      </div>
                    </div>
                </div>
              {% endfor %}
              <div class='col-lg-4'>
                  <div class="card border-warning mb-3" style="max-width: 18rem;">
                      <div class="card-body text-warning">
                        <h5 class="card-title">Opina sobre nosotros!</h5>
                        <p class="card-text">
                            <form action='{% url "ardillas_salvajes:comment" %}' method='POST'>
                                {% csrf_token %}
                                {{ comment_form }}
                                <input type="submit" value="Send" class='btn btn-secondary'>
                            </form>
                        </p>
                      </div>
                    </div>
                  
              </div>
              
          </div>
      </div>
    </section>
    

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">¡Hagamos la comunidad Ardillera Más grande!</h2>
            <hr class="my-4">
            <p class="mb-5">¿Te gustaría ser parte de esta manada? ¡Asombroso!. ¡Mandanos un mensaje aqui, llamanos, manda un correo o deja tu tweet antes de hibernar!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <form action='{% url "ardillas_salvajes:contact" %}' method='POST'>
                {% csrf_token %}
                {{ contact_form }}
                <input type="submit" value="Send" class='btn btn-warning'>
            </form>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>Iván: +52 1 33 1151 6589 <br> Alex: +52 1 33 3448 6232</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:a01634417@itesm.mx">Iván: a01634417@itesm.mx</a>
              <a href="mailto:a00820225@itesm.mx"><br>Alex: a00820225@itesm.mx</a>
            </p>

          </div>
          <div class='col-lg-12'>
              <a class="twitter-timeline" href="https://twitter.com/ardillasSalvaje?ref_src=twsrc%5Etfw">Tweets by ardillasSalvaje</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src='{% static "ardillas_salvajes/vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "ardillas_salvajes/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Plugin JavaScript -->
    <script src='{% static "ardillas_salvajes/vendor/jquery-easing/jquery.easing.min.js" %}'></script>
    <script src='{% static "ardillas_salvajes/vendor/scrollreveal/scrollreveal.min.js" %}'></script>
    <script src='{% static "ardillas_salvajes/vendor/magnific-popup/jquery.magnific-popup.min.js" %}'></script>

    <!-- Custom scripts for this template -->
    <script src='{% static "ardillas_salvajes/js/creative.min.js" %}'></script>
    <!--
      Fuente de datos curiosos:
      https://www.vix.com/es/btg/curiosidades/7054/7-curiosos-datos-sobre-las-ardillas-que-te-sorprenderan
    -->
  </body>

</html>
