{% extends "admin/base.html" %}
{% load static %}

{% block title %} Edit Resume JSON {% endblock title %}

{% block headbar %} Edit Resume JSON {% endblock headbar %}

{% block head_declarations %} 
    <link href='{% static "admin/jsoneditor/jsoneditor.min.css" %}' rel="stylesheet" type="text/css">
    <script src='{% static "admin/jsoneditor/jsoneditor.min.js" %}'></script> 
{% endblock head_declarations %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class='col-xl-12'>
                <h1>Log of modifications of resume</h1>
            </div>

            <div class="col-xl-6">
                <div class="row">
                    {% for resume_log in resume_logs %}
                        <div class='col-xl-12' style="padding-bottom:.5rem;">
                            <div class='card'>
                                <a href="#">
                                    <div class="card-header" id='card_title_{{ resume_log.id }}' data-toggle="collapse" data-target="#card{{ resume_log.id }}" aria-expanded="false" aria-controls="card{{ resume_log.id }}">
                                        {{ resume_log }}
                                    </div>
                                </a>
                                <div class="collapse" id="card{{ resume_log.id }}">
                                    
                                    <div class="card-body">
                                        <p><strong>Description: </strong></p>
                                        {% if resume_log.description %}
                                            <p>{{ resume_log.description | safe }}</p>
                                        {% else %}
                                            <p><strong> There is no description of this changes </strong></p>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="card-footer">
                                        <button class='btn btn-success' id='btn_schema_{{ resume_log.id }}'>See schema</button>
                                        <button class='btn btn-warning' id='btn_warning_revert_{{ resume_log.id }}'  data-toggle="modal" data-target="#revertModal">Revert to this point</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if resume_logs.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" tabindex="-1">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ resume_logs.previous_page_number }}" tabindex="-1">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">First</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in pages %}
                            {% if resume_logs.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if resume_logs.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ resume_logs.next_page_number }}" tabindex="-1">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ resume_logs.paginator.num_pages }}" tabindex="-1">Last</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Next</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Last</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class='col-xl-6' id="jsoneditor" style='height:100%;'></div>
        </div>
    </div>

    <div class="modal fade" id="revertModal" tabindex="-1" role="dialog" aria-labelledby="revertModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="revertModalTitle">Revert to</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" id='modalBody'>
                        Are you sure you want to revert to this point?
                    </div>
                    <div class="modal-footer">
                        <form method="post" action='{% url "revert_resume" %}'>
                            {% csrf_token %}
                            <input type="hidden" id='idRevert' name='id'>
                            <input type='submit' value='Revert to this point' class='btn btn-danger'/>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>  
                        </form>
                    </div>
                </div>
        </div>
    </div>
{% endblock content %}



{% block foot_declarations %}
<script>    
    json_data = {}
    // create the editor
    var container = document.getElementById("jsoneditor");
    var options = {
        mode: 'view',
    };
    var editor = new JSONEditor(container, options);

    editor.set(json_data);
    editor.setName('Select a log option to see the resume schema here')

    $('button').filter(function() {
        return this.id.match(/btn_schema_.+/);
    }).on('click', function(){
        var id = substring(this.id, 'btn_schema_');
        $.ajax({
            url: '{% url "ajax_get_resume" %}',
            type : "POST", 
            data: {
              'id': id,
              'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            dataType: 'json',
            success: function (data) {
                editor.setName(data.title);
                editor.set(JSON.parse(data.resume));
            }
          });
    });

    $('button').filter(function() {
        return this.id.match(/btn_warning_revert_.+/);
    }).on('click', function(){
        var id = substring(this.id, 'btn_warning_revert_');
        $("#idRevert").val(id);
        var title = $("#card_title_"+id).html()
        $("#revertModalTitle").html('Are you sure you want to revert to: ' + title);
    });

    function substring(text, afterWhat)
    {
        return text.substring(afterWhat.length)
    }
</script> 
{% endblock foot_declarations %}